@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;0,900;1,300&display=swap');

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    font-family: Roboto, sans-serif;
    width: 1440px;
    height: 1912px;
}

.container,
.header-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header {
    background-color: #1F2937;
    padding: 18px 208px 0px;
}

.header-logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 900;
}

.header-links {
    list-style-type: none;
}

.header-links a {
    font-size: 18px;
    color: #E5E7EB;
    text-decoration: none;
    margin-left: 25px;
}

.hero {
    padding: 116px 0px;
    height: 489px;
}

.hero-main {
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
}

.hero-secondary {
    font-size: 18px;
    color: #E5E7EB;
}

.hero-button {
    background-color: #3882F6;
    font-size: 17.5px;
    font-weight: 900;
    color: #E5E7EB;
    padding: 8px 34px;
    border-radius: 8px;
    border: none;
    margin-top: 13px;
}

.hero-image {
    margin-left: 40px;
    padding-top: 4px;
}

.information {
    height: 498px;
}

.info-main {
    font-size: 36px;
    font-weight: 800;
    color: #1F2937;
    text-align: center;
    padding: 48px 0px;
}

.information .container {
    justify-content: center;
    gap: 50px;
}

.info {
    max-width: 167px;
}

.info-image {
    border-radius: 20px;
}

.info-secondary {
    text-align: center;
    font-size: 18px;
    color: #1f2937cb;
    padding-top: 4px;
}

.quote {
    background-color: #E5E7EB;
    height: 429px;
}

.call-to-action {
    background-color: #3882F6;
    height: 350px;
}

.footer {
    background-color: #1F2937;
    height: 100px;
}